{% extends 'base.html' %}
{% load static %}
{% block page_content %}

    <!-- Page Header Start -->
    <div class="container-fluid bg-secondary mb-5">
        <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
            <h1 class="font-weight-semi-bold text-uppercase mb-3">Thank you for shopping!</h1>
            <div class="d-inline-flex">
                <p class="m-0">Your order will be processed as soon as possible.</p>
                <p class="m-0 px-2">-</p>
                <p class="m-0"><a href="{% url 'index' %}">Home</a></p>


            </div>
        </div>
    </div>
    <!-- Page Header End -->


    <!-- Contact Start -->

{% endblock %}