{% extends 'base.html' %}
{% block page_content %}
    <div class="container-fluid col-md-4 mb-5 form-control border-0 py-4">
        <h5 class="font-weight-bold text-dark mb-4">Register</h5>
        <form action="">
            <div class="form-group">
                {% csrf_token %}
                {{ form }}
            </div>

            <div>
                <button class="btn btn-primary btn-block border-0 py-3" type="submit">Register</button>
            </div>
            <p>Already have an account? Click <a href="{% url 'login' %}">here</a> to login.</p>
        </form>
    </div>

{% endblock %}